{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "bootstrap-5.3.3-dist/css/bootstrap.min.css" %}" rel="stylesheet">
  <title>Little lemon - {{ page_title }}</title>
</head>

<body class="text-center">
  <!-- Navigation bar section -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ host }}">Little Lemon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/home/' %}active" aria-current="page"{% else %}"{% endif %} href="{{ host }}/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/book/' %}active" aria-current="page"{% else %}"{% endif %} href="{{ host }}/book">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/menu/' %}active" aria-current="page"{% else %}"{% endif %} href="{{ host }}/menu">Menu</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <button class="btn btn-outline-success me-2" type="button">Welcome, {{ user.username }}!</button>
            </li>
            <li class="nav-item">
              <a href="{{ host }}/logout/"><button class="btn btn-outline-success me-2" type="button">Logout</button></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{{ host }}/login/"><button class="btn btn-outline-success me-2" type="button">Login</button></a>
            </li>
            <li class="nav-item">
              <a href="{{ host }}/sign-up/"><button class="btn btn-outline-success me-2" type="button">Sign Up</button></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of Navigation bar section -->

  <!-- Main section -->
  {% block mainSec %}{% endblock mainSec %}
  <!-- End of the Main section -->

  <!-- Footer section -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Little Lemon, Restaurant</p>

      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
    </footer>
  </div>
  <!-- End of the Footer section -->

  <script src="{% static "bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js" %}"></script>
</body>

</html>
